<!DOCTYPE html>

<title>Car Control</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="beta.js"></script>
<html>
<head>
    <style>
        html,
        body {
            height: 100%;
        }

        .divUp {
            height: 128px;
            width: auto;
            background-color: green;
            z-index: 1;
        }

        .divDown {
            height: 128px;
            width: auto;
            background-color: red;
            z-index: 2;
        }
    </style>
</head>
<body>
    <h3 id='h3'>Status</h3>
    <h3 id='exit' onclick="signal(27)">Exit</h3>

    <div id='divUp' class="divUp" onmousedown="onMouseDown(event, false)" onmouseup="onMouseUp()" onmousemove="onMouseMove(event, false)"></div>
    <br>
    <div id='divDown' class="divDown" onmousedown="onMouseDown(event, true)" onmouseup="onMouseUp()" onmousemove="onMouseMove(event, true)"></div>

</body>
</html>