<!DOCTYPE html>

<html>
<title>Car Control</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <h3 id='h3'>Status</h3>
    <!-- <input id="slider" type="range" min="225" max="475" value="350"> -->
    <input id="slider" type="range" min="1" max="3" value="2">
    <input id="reverse" type="checkbox">Reverse</input>

    <tr>
        <td>
            <h3 id='exit' onclick="signal('engine/off')">Exit</h3>
        </td>
        <td>
            <h3 id='brakes' onclick="signal('brakes/apply')">Brakes</h3>
        </td>
    </tr>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    var slider = document.getElementById("slider");
    var reverse = document.getElementById("reverse");


    console.log(slider);

    slider.oninput = function () {
        switch (this.value){
            case 1:
            {
                signal('turn/2.25');
                break;
            }
            case 2:
            {
                signal('turn/3.5');
                break;
            }
            case 3:
            {
                signal('turn/4.75');
                break;
            }
        }
        
    }

    // slider.onmousedown = function () {
    //     drive();
    // }

    function drive() {

        if (reverse.checked) {
            signal('drive/reverse');
        }
        else {
            signal('drive/forward');
        }
    }

    slider.ontouchstart = function () {
        drive();
    }

    slider.onchange = function(){
        signal('brakes/apply');
    }

    function signal(command) {
        $.getJSON('http://{{ ip }}:5002/' + command, function (data) {
            h3 = document.getElementById('h3')
            h3.innerText = data['status'];
        });

        console.log(command)
    }
</script>


</html>